// Header Styles

header {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	@if $menuFixed == true {
		position: sticky;
		top: 0;
	}
	 
	.headerLeft {
		padding: 0.1em 0 0 0.5em;
	}

	.headerRight {
		input[type="checkbox"] {
			display: none;
		}
	}
}

@media (min-width: 1px) {
	header {
		background: none;
		.headerLeft {
			grid-column: span 12;
			background: $headerBgColor;
		}

		.headerRight {
			grid-column: span 12;
			background: $dropDownMenuBgColor;
			.navButton {
				position: absolute;
				float: right;
				height: 40px;
				width: 44px;
				background: $hamButtonBgColorClosed;
				top: 0.5em;
				right: 0.5em;
				cursor: pointer;
				.hamburger {
					height: 2px;
					width: 22px;
					background: $hamLineColor;
					position: absolute;
					transform-origin: center;
					transition: .3s ease;
				}
				.bar01 {top: 8px; left: 11px;}
				.bar02 {top: 14px; left: 11px;}
				.bar03 {top: 20px; left: 11px;}
				.buttonText:after {
					position: absolute;
					top: 28px;
					font-size: 0.5em;
					text-transform: uppercase;
					font-weight: bold;
					font-family: $buttonLabel;
					transform-origin: center;
					transition: .3s ease;
				}
			}
			input[type="checkbox"] {
				&:checked {
					+ .navButton {
						/* Animation when checked */
						background: $hamButtonBgColorOpen;
						.bar01 {
							/* Moves the top bar 45 degrees to form the X when the button is clicked. */
							transform: translateY(6px) rotate(45deg);
						}
						.bar02 {
							/* Middle bar vanishes when the button is clicked. */
							opacity: 0;
						}
						.bar03 {
							/* Moves the bottom bar 45 degrees to form the X when the button is clicked. */
							transform: translateY(-6px) rotate(-45deg);
						}
						.buttonText:after {
							/* Replaces "Menu" with "Close" on the button. */
							content: $closeTerm;
							left: 7px;
						}
					}
					~ nav {
						height: ($menu-item-height * $number-menu-items);
					}
				}
				+ .navButton .buttonText:after {
					/* Replaces "Close" with "Menu" on the button. */
					content: $menuTerm;
					left: 9px;
				}
			}
			nav {
				position: relative;
				display: block;
				overflow: hidden;
				height: 0;
				transform-origin: center;
				transition: .3s ease;
				.navMenu {
					list-style-type: none;
					li {
						text-align: center;
						a {
							&:link, &:visited {
								font-family: $linkFont;
								color: $mobileLinkColorNormal;
								text-decoration: none;
								display: block;
								width: 100%;
								height: $menu-item-height;
								padding: 0.7em 0 0 0;
							}
							&:hover, &:focus {
								color: $mobileLinkColorHover;
								background: $mobileLinkBgColorHover;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 320px) {}
@media (min-width: 480px) {}
@media (min-width: 768px) {
	header {
		background: $headerBgColor;
		.headerLeft {
			background: none;
			grid-column: span 4;
		}
		.headerRight {
		 background: none;
		 grid-column: span 8;
		 padding: 0 1em 0 0;
		 text-align: right;
		 .navButton {
			display: none;
		}
		nav {
			position: relative;
			display: inline-block;
			overflow: visible;
			.navMenu {
				display: block;
				li {
					float: left;
					a {
						&:link, &:visited {
							color: $desktopLinkColorNormal;
							width: none;
							height: auto;
							padding: 0.3em 0.5em 0.5em 0.5em;
						}
						&:hover, &:focus {
							color: $desktopLinkColorHover;
							border-bottom: 1px solid $desktopLinkBorderColorHover;
						}
					}
				}
			}
		}
	}
}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {}